.container-infos ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    font-size: 1.6rem;
}

.container-img img{
    border-radius: 50%;
    opacity: 0.8;
}

.container-infos ul img {
    width: 2.5rem;
}
.container-infos li {
    display: flex;
    align-items: center;
    gap: .5rem;
}


.info-txt {
    font-weight: 400;
    font-family: 'Encode Sans', sans-serif;
}

.info-txt2 {
    font-weight: 900;
    font-family: 'Source Code Pro', monospace;
    color: rgb(50, 131, 50);
    text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.005);
}

/* font-family: 'Encode Sans', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Work Sans', sans-serif; */